# ':'-delimited list of modules whose deps are comprehensive for runtime
# see github.com/promet/drop_ship
PROJECT="default"
export DROPSHIP_SEEDS="$PROJECT"
echo "Running on the \"$SITE_ENVIRONMENT\" environment."

# If you don't provide a site environment... that's ok, we will just use the
# custom site module as a seed.
case "$SITE_ENVIRONMENT" in
  dev)
    DROPSHIP_SEEDS=$DROPSHIP_SEEDS:dblog:field_ui:views_ui:devel
  ;;
  test)
    DROPSHIP_SEEDS=$DROPSHIP_SEEDS:dblog
  ;;
  prod)
    DROPSHIP_SEEDS=$DROPSHIP_SEEDS:syslog
  ;;
esac
